body {
    background-color: rgb(9, 8, 8);
    display: flex;
    
}

h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;

}

h4 {
    color: #f5f5dc;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.info {
    border-color: white;
    border-radius: 20px;
    border-style: solid;
}

div.mainCanvas {
    display: flex;
    align-items: center;
}

button {
    background-color: #00FF00;
    width: 100px;
    height: 50px;
    display:inline-block;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button:hover {
    background-color: salmon;
    color: navy;
}

.SO {
    position: absolute;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 20px;
}


a {
    text-decoration: none;
    color: yellow;
};