body {
    background-color: rgb(9, 8, 8);
}

h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;

}

h4 {
    color: #f5f5dc;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.info {
    border-color: white;
    border-radius: 20px;
    border-style: solid;
}